In [1]:
import pandas as pd

In [2]:
raw_df = pd.read_csv("C:/Users/Z004CRTK/Carnot_Tech/config/Raw Data - Backend Developer. (1).csv")

In [3]:
raw_df.head()

,device_fk_id,latitude,longitude,time_stamp,sts,speed
0,25029,27.877958,76.060959,2021-10-23T14:08:02Z,2021-10-23T14:08:08.5984Z,0
1,25029,27.877958,76.060959,2021-10-23T14:08:06Z,2021-10-23T14:08:08.595096Z,0
2,25029,27.877958,76.060959,2021-10-23T14:08:04Z,2021-10-23T14:08:08.595365Z,0
3,25029,27.877958,76.060959,2021-10-23T14:08:00Z,2021-10-23T14:08:02.640873Z,0
4,25029,27.877958,76.060959,2021-10-23T14:07:56Z,2021-10-23T14:08:02.640311Z,0

In [68]:
sorted_df = raw_df.sort_values("time_stamp")

In [69]:
grouped_sorted_df = sorted_df.groupby("device_fk_id")
grouped_sorted_df

In [81]:
for entry in list(grouped_sorted_df):
    latest_time = entry[1]["time_stamp"].max()
    # filter = 
    latest = {
        "device_fk_id": entry[0],
    }
    print(f"Latest time for {entry[0]} is {latest_time}")
    print(entry[1].tail(1))

Latest time for 6888 is 2021-10-23T13:28:00Z
      device_fk_id   latitude  longitude            time_stamp  \
8553          6888  19.735189  76.184525  2021-10-23T13:28:00Z

                              sts  speed
8553  2021-10-23T13:28:05.626486Z      0
Latest time for 20984 is 2021-10-23T14:29:32Z
      device_fk_id   latitude  longitude            time_stamp  \
7589         20984  21.615061  78.436737  2021-10-23T14:29:32Z

                              sts  speed
7589  2021-10-23T14:29:36.526166Z      0
Latest time for 24809 is 2021-10-23T14:29:04Z
      device_fk_id   latitude  longitude            time_stamp  \
2319         24809  18.990557   77.75898  2021-10-23T14:29:04Z

                              sts  speed
2319  2021-10-23T14:29:09.592351Z      0
Latest time for 25029 is 2021-10-23T14:25:25Z
     device_fk_id   latitude  longitude            time_stamp  \
357         25029  27.877935  76.060959  2021-10-23T14:25:25Z

                             sts  speed
357  2021-10-23T14:25:29.954599Z      0