In [1]:
import pandas as pd

In [2]:
raw_data = pd.read_csv("C:/Users/Z004CRTK/Carnot_Tech/config/Raw Data - Backend Developer. (1).csv")

In [3]:
raw_data.head()

,device_fk_id,latitude,longitude,time_stamp,sts,speed
0,25029,27.877958,76.060959,2021-10-23T14:08:02Z,2021-10-23T14:08:08.5984Z,0
1,25029,27.877958,76.060959,2021-10-23T14:08:06Z,2021-10-23T14:08:08.595096Z,0
2,25029,27.877958,76.060959,2021-10-23T14:08:04Z,2021-10-23T14:08:08.595365Z,0
3,25029,27.877958,76.060959,2021-10-23T14:08:00Z,2021-10-23T14:08:02.640873Z,0
4,25029,27.877958,76.060959,2021-10-23T14:07:56Z,2021-10-23T14:08:02.640311Z,0

In [4]:
sorted_data = raw_data.sort_values("time_stamp").reset_index()

grouped_sorted_data = sorted_data.groupby("device_fk_id")

latest_df = pd.DataFrame()
for entry in list(grouped_sorted_data):
    latest_time = entry[1]["time_stamp"].max()
    print(f"Latest time for {entry[0]} is {latest_time}")
    latest_row = entry[1].tail(1)
    print(f"Entire row:\n{latest_row}")
    latest_df = pd.concat([latest_df, latest_row], axis=0)
    
latest_values = latest_df.reset_index()

Latest time for 6888 is 2021-10-23T13:28:00Z
Entire row:
      index  device_fk_id   latitude  longitude            time_stamp  \
7180   8553          6888  19.735189  76.184525  2021-10-23T13:28:00Z

                              sts  speed
7180  2021-10-23T13:28:05.626486Z      0
Latest time for 20984 is 2021-10-23T14:29:32Z
Entire row:
       index  device_fk_id   latitude  longitude            time_stamp  \
10098   7589         20984  21.615061  78.436737  2021-10-23T14:29:32Z

                               sts  speed
10098  2021-10-23T14:29:36.526166Z      0
Latest time for 24809 is 2021-10-23T14:29:04Z
Entire row:
       index  device_fk_id   latitude  longitude            time_stamp  \
10093   2319         24809  18.990557   77.75898  2021-10-23T14:29:04Z

                               sts  speed
10093  2021-10-23T14:29:09.592351Z      0
Latest time for 25029 is 2021-10-23T14:25:25Z
Entire row:
       index  device_fk_id   latitude  longitude            time_stamp  \
10015    357         25029  27.877935  76.060959  2021-10-23T14:25:25Z

                               sts  speed
10015  2021-10-23T14:25:29.954599Z      0

In [5]:
sorted_data = raw_data.sort_values("time_stamp").reset_index()

grouped_sorted_data = sorted_data.groupby("device_fk_id")

start_end_df = pd.DataFrame()
for entry in list(grouped_sorted_data):
    oldest_time = entry[1]["time_stamp"].min()
    print(f"Oldest time for {entry[0]} is {oldest_time}")

    oldest_row = entry[1].head(1)
    print(f"Oldest row for {entry[0]} is {oldest_row}")
    
    latest_time = entry[1]["time_stamp"].max()
    print(f"Latest time for {entry[0]} is {latest_time}")
    
    latest_row = entry[1].tail(1)
    print(f"Latest row for {entry[0]} is {latest_row}")

    
    start_end_df = pd.concat([start_end_df, oldest_row], axis=0)
    start_end_df = pd.concat([start_end_df, latest_row], axis=0)
    print(f"After updating DataFrame with device {entry[0]} values - \n {start_end_df}")

Oldest time for 6888 is 2021-10-23T04:55:53Z
Oldest row for 6888 is    index  device_fk_id  latitude  longitude            time_stamp  \
0   8931          6888  19.72901  76.204926  2021-10-23T04:55:53Z

                           sts  speed
0  2021-10-23T13:14:04.365831Z      0
Latest time for 6888 is 2021-10-23T13:28:00Z
Latest row for 6888 is       index  device_fk_id   latitude  longitude            time_stamp  \
7180   8553          6888  19.735189  76.184525  2021-10-23T13:28:00Z

                              sts  speed
7180  2021-10-23T13:28:05.626486Z      0
After updating DataFrame with device 6888 values -
       index  device_fk_id   latitude  longitude            time_stamp  \
0      8931          6888  19.729010  76.204926  2021-10-23T04:55:53Z
7180   8553          6888  19.735189  76.184525  2021-10-23T13:28:00Z

                              sts  speed
0     2021-10-23T13:14:04.365831Z      0
7180  2021-10-23T13:28:05.626486Z      0
Oldest time for 20984 is 2021-10-23T12:29:53Z
Oldest row for 20984 is       index  device_fk_id   latitude  longitude            time_stamp  \
2071   8445         20984  21.615017  78.436607  2021-10-23T12:29:53Z

                              sts  speed
2071  2021-10-23T12:30:15.194803Z      0
Latest time for 20984 is 2021-10-23T14:29:32Z
Latest row for 20984 is        index  device_fk_id   latitude  longitude            time_stamp  \
10098   7589         20984  21.615061  78.436737  2021-10-23T14:29:32Z

                               sts  speed
10098  2021-10-23T14:29:36.526166Z      0
After updating DataFrame with device 20984 values -
        index  device_fk_id   latitude  longitude            time_stamp  \
0       8931          6888  19.729010  76.204926  2021-10-23T04:55:53Z
7180    8553          6888  19.735189  76.184525  2021-10-23T13:28:00Z
2071    8445         20984  21.615017  78.436607  2021-10-23T12:29:53Z
10098   7589         20984  21.615061  78.436737  2021-10-23T14:29:32Z

                               sts  speed
0      2021-10-23T13:14:04.365831Z      0
7180   2021-10-23T13:28:05.626486Z      0
2071   2021-10-23T12:30:15.194803Z      0
10098  2021-10-23T14:29:36.526166Z      0
Oldest time for 24809 is 2021-10-23T07:42:05Z
Oldest row for 24809 is      index  device_fk_id   latitude  longitude            time_stamp  \
359   2321         24809  19.022415    77.7537  2021-10-23T07:42:05Z

                             sts  speed
359  2021-10-23T14:29:09.580434Z      0
Latest time for 24809 is 2021-10-23T14:29:04Z
Latest row for 24809 is        index  device_fk_id   latitude  longitude            time_stamp  \
10093   2319         24809  18.990557   77.75898  2021-10-23T14:29:04Z

                               sts  speed
10093  2021-10-23T14:29:09.592351Z      0
After updating DataFrame with device 24809 values -
        index  device_fk_id   latitude  longitude            time_stamp  \
0       8931          6888  19.729010  76.204926  2021-10-23T04:55:53Z
7180    8553          6888  19.735189  76.184525  2021-10-23T13:28:00Z
2071    8445         20984  21.615017  78.436607  2021-10-23T12:29:53Z
10098   7589         20984  21.615061  78.436737  2021-10-23T14:29:32Z
359     2321         24809  19.022415  77.753700  2021-10-23T07:42:05Z
10093   2319         24809  18.990557  77.758980  2021-10-23T14:29:04Z

                               sts  speed
0      2021-10-23T13:14:04.365831Z      0
7180   2021-10-23T13:28:05.626486Z      0
2071   2021-10-23T12:30:15.194803Z      0
10098  2021-10-23T14:29:36.526166Z      0
359    2021-10-23T14:29:09.580434Z      0
10093  2021-10-23T14:29:09.592351Z      0
Oldest time for 25029 is 2021-10-23T12:29:56Z
Oldest row for 25029 is       index  device_fk_id   latitude  longitude            time_stamp  \
2075   2309         25029  27.885506  76.269203  2021-10-23T12:29:56Z

                              sts  speed
2075  2021-10-23T12:30:03.805833Z     31
Latest time for 25029 is 2021-10-23T14:25:25Z
Latest row for 25029 is        index  device_fk_id   latitude  longitude            time_stamp  \
10015    357         25029  27.877935  76.060959  2021-10-23T14:25:25Z

                               sts  speed
10015  2021-10-23T14:25:29.954599Z      0
After updating DataFrame with device 25029 values -
        index  device_fk_id   latitude  longitude            time_stamp  \
0       8931          6888  19.729010  76.204926  2021-10-23T04:55:53Z
7180    8553          6888  19.735189  76.184525  2021-10-23T13:28:00Z
2071    8445         20984  21.615017  78.436607  2021-10-23T12:29:53Z
10098   7589         20984  21.615061  78.436737  2021-10-23T14:29:32Z
359     2321         24809  19.022415  77.753700  2021-10-23T07:42:05Z
10093   2319         24809  18.990557  77.758980  2021-10-23T14:29:04Z
2075    2309         25029  27.885506  76.269203  2021-10-23T12:29:56Z
10015    357         25029  27.877935  76.060959  2021-10-23T14:25:25Z

                               sts  speed
0      2021-10-23T13:14:04.365831Z      0
7180   2021-10-23T13:28:05.626486Z      0
2071   2021-10-23T12:30:15.194803Z      0
10098  2021-10-23T14:29:36.526166Z      0
359    2021-10-23T14:29:09.580434Z      0
10093  2021-10-23T14:29:09.592351Z      0
2075   2021-10-23T12:30:03.805833Z     31
10015  2021-10-23T14:25:29.954599Z      0

In [6]:
grouped_sorted_data

In [7]:
device_ids = (6888, 20984, 24809, 25029)

In [8]:
for device_id in device_ids:
    for entry in grouped_sorted_data:
        if entry[0] == device_id:
            valid_table = entry[1].reset_index()
    print(valid_table.shape, device_id)

(1548, 8) 6888
(1345, 8) 20984
(4896, 8) 24809
(2310, 8) 25029

In [14]:
from dateutil import parser
device_id = 6888
start_time = "2021-10-23T13:13:52.473644Z"
start_time_obj = parser.parse(start_time)
end_time = "2021-10-23T13:13:58.860442Z  "
end_time_obj = parser.parse(end_time)
if start_time_obj < end_time_obj:
    for entry in grouped_sorted_data:
        if entry[0] == device_id:
            valid_table = entry[1].reset_index()
    
    start_index = valid_table.loc[valid_table["time_stamp"] == start_time].drop(["index", "level_0"], axis=1).index
    end_index = valid_table.loc[valid_table["time_stamp"] == end_time].drop(["index", "level_0"], axis=1).index
    print(start_index, end_index, "hehe")
    # print(start_index.values[0], end_index.values[0])

    
    
    for index in range(start_index.values[0], end_index.values[0] + 1):
        print(valid_table.iloc[index].latitude, valid_table.iloc[index].longitude, valid_table.iloc[index].time_stamp)
else:
    print(f"Start time has to be less than end time!")

Index([], dtype='int64') Index([], dtype='int64') hehe
True

IndexError: index 0 is out of bounds for axis 0 with size 0

In [87]:
valid_table.iloc[0]
# for index in range(start_index.values[0], end_index.values[0] + 1):
#     print(valid_table[index])

19.72900963

In [ ]:
from datetime import datetime
from dateutil import parser
my_time = "2021-10-23T04:55:53Z"
my_time2 = "2021-10-25T04:55:53Z"
dt1 = parser.parse(my_time)
dt2 = parser.parse(my_time2)
print(dt1 > dt2)